<nav class="navbar-container">
    <div class="navbar">
        <div class="navbar-block navbar-left">
            <div class="navbar-logo">
                <a routerLink="/">Loss Control</a>
            </div>
            <ul class="navbar-links">
                <li>
                    <a href="#">
                        Products
                    </a>
                </li>
                <li>
                    <a href="#">
                        Services
                    </a>
                </li>
                <li>
                    <a href="#">
                        Clients
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-block navbar-right">
            <div class="navbar-search">
                <input placeholder="Search" />
            </div>
            <div class="navbar-account">
                <a href="#">
                    My Account
                </a>
            </div>
        </div>
    </div>
</nav>