<div class="home-main" #page>
    <div class="home-message">
        <div class="home-img">
            <img src="assets/images/image.jpg" />
        </div>
        <h1 class="home-title">
            Manage losses can be painless
        </h1>
        <p class="home-subtitle">
            It's never too late to manage your losses. We make it easy for you to manage your losses through our software.
        </p>
        <a routerLink="questionaire">
            <app-button 
                [title]="'Get Started'" [left]="true"></app-button>
        </a>
    </div>
</div>
<ng-template #loadingEl>
    <p>loading</p>
</ng-template>