.progress-banner {
    padding: 30px;
    margin-bottom: 30px;
    display: flex;        
    flex-direction: column;
    align-items: center;
}
.progress-banner.sticky {
    /* background-color: #fde876; */
    background-color: #fafafa;
    box-shadow: 1px 0 15px 3px #999;;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    align-items: end;
    height: 0;
    animation: slide-down 200ms ease-in forwards;
}
@keyframes slide-down {
    to {
        opacity: 1;
        height: 60px;
    }
}
.progress-banner.sticky .progress-group {
    margin-left: 15px;
}
.progress {
    height: 6px;
    width: 30px;
    background: #ccc;
    position: relative;
    margin-bottom: 15px;
    margin-right: 13px;
}
.progress-group {
    display: flex;
}
.progress-text {
    margin-top: 0;
    font-weight: 500;
}
.progress-label {
    display: none;
    position: absolute;
    font-size: 11px;
    background: #333;
    padding: 3px 5px;
    color: #FFF;
    font-weight: 500;
    border-radius: 3px;
    transform: translate(-47%, 120%);
    white-space: pre;
}
.progress-label::before {
    content: '';
    height: 10px;
    width: 10px;
    background: #333;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -5px;
    transform: rotate(45deg);
}
.progress-dot {
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    top: -4.5px;
    left: -14px;
}
.progress-dot-end {
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    top: -4.5px;
    right: -14px;
}
.progress-dot-end, .progress-dot {
    cursor: pointer;
}
.progress-bar-hover {
    width: 30px;
    height: 6px;
    background: #777;
    position: absolute;
    top: 0;
    left: 0.3px;
    transition: all 100ms ease-in;
}
.progress-dot.hover, .progress-dot.hover {
    background: #777;
}
.progress-dot-end.active, .progress-dot.active {
    background: #dc4040;
}
.progress-bar {
    width: 0;
    height: 6px;
    background: #dc4040;
    transition: width 200ms ease-in-out;
}