.progress-banner {
    padding: 30px;
    margin-bottom: 30px;
    display: flex;        
    flex-direction: column;
    align-items: center;
}
.progress-banner.sticky {
    /* background-color: #fde876; */
    background-color: #fafafa;
    box-shadow: 1px 0 15px 3px #999;;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    align-items: start;
    height: 0;
    animation: slide-down 200ms ease-in forwards;
    width: calc(100vw - 60px);
}
@keyframes slide-down {
    to {
        opacity: 1;
        height: 60px;
    }
}
.progress-banner.sticky .progress-group {
    margin-left: 15px;
    justify-content: start;
}
.progress {
    height: 6px;
    width: 30px;
    background: #ccc;
    position: relative;
    margin-bottom: 15px;
    margin-right: 13px;
}
.progress-group {
    display: flex;
    justify-content: center;
}
.progress-text {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 25px;
    margin-left: -14px;
    text-align: center;
}
.progress-banner.sticky .progress-text {
    margin-left: 0;
    text-align: left;
}
.progress-here {
    height: 0;
    width: 0;
    position: absolute;
    top: -15px;
    left: -11px;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.progress-here.end {
    right: -11px;
    left: 100%;
}
.progress-label {
    display: none;
    position: absolute;
    font-size: 11px;
    background: #333;
    padding: 3px 5px;
    color: #FFF;
    font-weight: 500;
    border-radius: 3px;
    transform: translate(-50%, 120%);
    white-space: pre;
}
.progress-label::before {
    content: '';
    height: 10px;
    width: 10px;
    background: #333;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -5px;
    transform: rotate(45deg);
}
.progress-dot {
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    top: -4.5px;
    left: -14px;
}
.progress-dot-end {
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    top: -4.5px;
    right: -14px;
}
.progress-dot-end, .progress-dot {
    cursor: pointer;
}
.progress-bar-hover {
    width: 30px;
    height: 6px;
    background: #777;
    position: absolute;
    top: 0;
    left: 0.3px;
    transition: all 100ms ease-in;
}
.progress-dot.hover, .progress-dot.hover {
    background: #777;
}
.progress-dot-end.active, .progress-dot.active {
    background: #dc4040;
}
.progress-bar {
    width: 0;
    height: 6px;
    background: #dc4040;
    transition: width 200ms ease-in-out;
}
.progress-bar-mobile {
    width: 0;
    height: 6px;
    background: #dc4040;
    transition: width 200ms ease-in-out;
    /* width: calc(97.9vw * 1); */
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
.progress-bar-mobile.sticky {
    top: 0;
    transition-delay: 50ms;
}
.progress-banner.mobile.sticky > .progress-body > .progress-text {
    margin: 20px 0;
    font-size: 18px;
}
.progress-banner.mobile {
    padding: 0;
}
.progress-banner.mobile.sticky {
    padding: 30px;
}
.progress-body {
    max-width: 1110px;
    width: 100%;
    margin: auto;
}