<ng-container [formGroup]="controlContainer.control">
    <div class="question" >
        <div class="question-left">
            <h3 class="question-title">{{question.num}}. {{question.question}}</h3>
            <mat-form-field
                *ngIf="question.written_ans && !question.written_ans_yes">
                <input matInput placeholder="" formControlName="written">
            </mat-form-field>
            <mat-form-field
                *ngIf="question.written_ans_yes && controlContainer.control.value.yesNo === 'yes'">
                <input matInput placeholder="" formControlName="written">
            </mat-form-field>
            <div class="question-checklist" *ngIf="controlContainer.control.value.yesNo === 'yes' && question.checklist.length > 0">
                <div class="question-checklist-item" *ngFor="let item of question.checklist; index as i">
                    <mat-checkbox [formControl]="controlContainer.control.controls.checklist.at(i)">
                        {{item}}
                    </mat-checkbox>
                </div>
            </div>

        </div>
        <div class="question-right">
            <mat-radio-group aria-labelledby="example-radio-group-label"
                [formControl]="controlContainer.control.controls.yesNo"
                class="example-radio-group" *ngIf="question.yes_no">
                <mat-radio-button class="radio-button" value="yes">
                    Yes
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="no">
                    No
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</ng-container>