/**
 * BASE CSS
 */

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

#root {
    height: inherit;
    display: flex;
    flex-direction: column;
}
.content-main {
    flex: 1;
    position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
