<app-layout>
    <ng-container *ngIf="questionaireFacade.questionaire.sectionStatus.num_current === 0">
        <h1 class="questionaire-title">Loss Control Questionaire</h1>
        <p class="questionaire-intro">
            This is a loss control questionaire intented to help you assess how to minimize losses in your operation. To begin, please click start.
        </p>
        <h2>Account information</h2>
        <ul class="questionaire-account">
            <li><div>Organization: </div> <div>Premium Insurance Company</div></li>
            <li><div>Account Number: </div> <div>AC-123456789</div></li>
            <li><div>Name: </div> <div>John Doe</div></li>
            <li><div>Title: </div> <div>Operation Manager</div></li>
            <li><div>Phone: </div> <div>(123) 456-7890</div></li>
        </ul>
        <div class="btn-group">
            <app-button [title]="'Start'" id="btn-next"
                (click)="handleClickNext()"></app-button>
        </div>
    </ng-container>
    <ng-container *ngIf="questionaireFacade.questionaire.sectionStatus.num_current > 0">
        <app-progress
            [section_count_total]="questionaireFacade.questionaire.sectionStatus.count_total"
            [section_num_current]="questionaireFacade.questionaire.sectionStatus.num_current"
            [section_count_completed]="questionaireFacade.questionaire.sectionStatus.count_completed"
            [question_count_in_progress]="questionaireFacade.questionaire.questionStatus.count_in_progress"
            [question_count_completed_in_progress]="questionaireFacade.questionaire.questionStatus.count_completed_in_progress"
            [question_count_total]="questionaireFacade.questionaire.questionStatus.count_total"
            [question_count_completed]="questionaireFacade.questionaire.questionStatus.count_completed"
            [section_titles]="questionaireFacade.section_titles"
            (stickyChanged)="handleSticky($event)"
            (sectionCurChanged)="handleSectionNav($event)"
            (sectionNavClicked)="handleSectionNavClicked($event)"
            ></app-progress>
        <form [formGroup]="form" 
            *ngIf="questionaireFacade.questionaire.sectionStatus.num_current <= 
            questionaireFacade.questionaire.sectionStatus.count_total">
            <h1 
                class="questionaire-title"
                [style.marginTop]="sticky ? '180px' : ''">
                {{questionaireFacade.section_title}}
            </h1>
            <br/>
            <div>
                <app-question 
                    [question]="question" [formGroup]="form.controls.questions.at(question.num - 1)"
                    *ngFor="let question of questionaireFacade.questions_current; let i = index"></app-question>
            </div>
            <div class="btn-group">
                <app-button [title]="'Back'" id="btn-back" (click)="handleClickBack()" 
                    *ngIf="questionaireFacade.questionaire.sectionStatus.num_current > 1"></app-button>
                <app-button 
                    [disabled]="questionaireFacade.questionaire.questionStatus.count_completed_current !==
                        questionaireFacade.questionaire.questionStatus.count_current"
                    [title]="'Next'" 
                    id="btn-next" 
                    (click)="handleClickNext()" 
                    *ngIf="questionaireFacade.questionaire.sectionStatus.num_current 
                    <= questionaireFacade.questionaire.sectionStatus.count_total"></app-button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="questionaireFacade.questionaire.sectionStatus.num_current === 
            questionaireFacade.questionaire.sectionStatus.count_total + 1">
        <h1>Review</h1>
        <p>
            Confirm the following information is correct and submit the information. If any of the information is incorrect, please contact us with your
            form id or account number. 
        </p>
        <h2>Submission information</h2>
        <ul class="questionaire-account">
            <li>
                <div>Date: </div>
                <div>{{date | date:'fullDate'}}</div>
            </li>
            <li>
                <div>Time: </div>
                <div>{{date | date:'shortTime'}}</div>
            </li>
            <li>
                <div>Organization: </div>
                <div>Premium Insurance Company</div>
            </li>
            <li>
                <div>Account Number: </div>
                <div>AC-123456789</div>
            </li>
            <li>
                <div>Account Number: </div>
                <div>AC-123456789</div>
            </li>
            <li>
                <div>Name: </div>
                <div>John Doe</div>
            </li>
            <li>
                <div>Title: </div>
                <div>Operation Manager</div>
            </li>
            <li>
                <div>Phone: </div>
                <div>(123) 456-7890</div>
            </li>
        </ul>
        <div class="btn-group">
            <a routerLink="/">
            <app-button [title]="'Submit'" id="btn-next"></app-button>
            </a>
        </div>
    </ng-container>
</app-layout>
